Testing that python interpreter is working before we start.

In [1]:
print("Hello friend! Welcome to Pandas!")

Hello friend! Welcome to Pandas!

---
* ### How Models Work

Machine learning models are built to **find patterns in data** and use those patterns to make predictions or decisions. When a model is given data to learn from, it goes through a process called **training** (or **fitting**).  
The data used for this purpose is known as **training data**.

Data is stored in a number of forms and formats but one of the most basic of these is the CSV (Comma-separated-values) file format.

#### Example: Decision Tree
A **Decision Tree** predicts outcomes by splitting data into branches based on feature values.  
Each split helps the model make a more precise decision.  
- Trees with **more branches (splits)** can handle more complex patterns — they are called **“deeper trees.”**  
- The **final nodes** in a tree, where a decision or prediction is made, are called **“leaves.”**

---

To start, import the pandas library as pd.

In [1]:
import pandas as pd

---
### Basic Data Exploration

#### Dataframe

It is the main data structure of the python pandas library. A DataFrame holds the type of data you might think of as a table. This is similar to a sheet in Excel, or a table in a SQL database. 

You can create it and put in some dummy data like seen on the second code block in the rough1.ipynb file and you can do lots of work on the data using libraries like Pandas and NumPy (but ofc not limited to them).

---

#### Loading Datasets

There are multiple ways to read data and then store it in a **DataFrame** for usage.  

1. From Files

| Source | Function | Example |
|:--------|:-----------|:---------|
| ***CSV files** | `pd.read_csv()` | `df = pd.read_csv('data.csv')` |
| **Excel files** | `pd.read_excel()` | `df = pd.read_excel('data.xlsx', sheet_name='Sheet1')` |
| **Text files** | `pd.read_table()` | `df = pd.read_table('data.txt', delimiter='\t')` |
| **JSON files** | `pd.read_json()` | `df = pd.read_json('data.json')` |
| **HTML tables** | `pd.read_html()` | `df_list = pd.read_html('https://example.com')` |
| **XML files** | `pd.read_xml()` | `df = pd.read_xml('data.xml')` |
| **Pickle files** | `pd.read_pickle()` | `df = pd.read_pickle('data.pkl')` |
| **Parquet files** | `pd.read_parquet()` | `df = pd.read_parquet('data.parquet')` |
| **Feather files** | `pd.read_feather()` | `df = pd.read_feather('data.feather')` |



2. From Databases

| Source | Function | Example |
|:--------|:-----------|:---------|
| **SQL databases** | `pd.read_sql()` | `df = pd.read_sql('SELECT * FROM table', conn)` |
| **Using SQLAlchemy** | `pd.read_sql_table()` | `df = pd.read_sql_table('table_name', engine)` |
| **SQLite (local DB)** | `sqlite3` + Pandas | `conn = sqlite3.connect('data.db')` <br> `df = pd.read_sql_query("SELECT * FROM users", conn)` |



3. From APIs / Online Sources

| Source | Function | Example |
|:--------|:-----------|:---------|
| **Direct URL (CSV/JSON)** | `pd.read_csv('https://...')` | `df = pd.read_csv('https://example.com/data.csv')` |
| **API response (JSON)** | `pd.DataFrame()` from requests | `import requests; data = requests.get(url).json(); df = pd.DataFrame(data)` |



4. From Created Python Objects

| Source | Function | Example |
|:--------|:-----------|:---------|
| **Dictionary** | `pd.DataFrame()` | `df = pd.DataFrame({'Name': ['John', 'Anna'], 'Age': [28, 24]})` |
| **List of Lists / Tuples** | `pd.DataFrame()` | `df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])` |
| **NumPy Array** | `pd.DataFrame()` | `import numpy as np; df = pd.DataFrame(np.random.rand(3, 3), columns=['X', 'Y', 'Z'])` |
| **Another DataFrame** | `pd.DataFrame(existing_df)` | Useful for copies or transformations |

Exploring data-frame terms and such using method 4 (from methods listed above),

In [4]:
#Columns is to alter column names and Index is to alter row names
fd=pd.DataFrame([[11,12,13] , [14,15,16], [17,18,19], [20,21,22], [23,24,25], [26,27,28], [29,30,31]], columns=['one','two','three'] , index=['a','b','c','d','e','f','g'])

#Simple non-numeric DataFrame with dummy data (2-D Array)
df= pd.DataFrame([['a',2,'c'] , [4,'e',6], ['g',8,'i'], [10,'e',12], ['m',14,'o'], [16,'q',18], ['s',10,'u']])

Let's discover the multiple ways we can print the dataframe's data:

In [5]:
print(fd)
print()

#To see the first x rows of the DataFrame
print("This will only output the first 5 rows of the DataFrame:")
print(fd.head())

print()

print("This will only output the first 6 rows of the DataFrame:")
print(fd.head(6))

print()

print("This will only output the first 2 rows of the DataFrame:")
print(fd.head(2))

   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25
f   26   27     28
g   29   30     31

This will only output the first 5 rows of the DataFrame:
   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25

This will only output the first 6 rows of the DataFrame:
   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25
f   26   27     28

This will only output the first 2 rows of the DataFrame:
   one  two  three
a   11   12     13
b   14   15     16

In [9]:
print(df)
print()

#To see the last x rows of the DataFrame
print("This will only output the last 5 rows of the DataFrame:")
print(df.tail())

print()

print("This will only output the last 6 rows of the DataFrame:")
print(df.tail(6))

print()

print("This will only output the last 2 rows of the DataFrame:")
print(df.tail(2))

    0   1   2
0   a   2   c
1   4   e   6
2   g   8   i
3  10   e  12
4   m  14   o
5  16   q  18
6   s  10   u

This will only output the last 5 rows of the DataFrame:
    0   1   2
2   g   8   i
3  10   e  12
4   m  14   o
5  16   q  18
6   s  10   u

This will only output the last 6 rows of the DataFrame:
    0   1   2
1   4   e   6
2   g   8   i
3  10   e  12
4   m  14   o
5  16   q  18
6   s  10   u

This will only output the last 2 rows of the DataFrame:
    0   1   2
5  16   q  18
6   s  10   u

In [11]:
#Code can be transposed (rows become columns) using .T attribute
print(df.T)

   0  1  2   3   4   5   6
0  a  4  g  10   m  16   s
1  2  e  8   e  14   q  10
2  c  6  i  12   o  18   u

---

#### Inspecting Data

`"info()"` is used to print a concise summary of a Dataframe. The information points provided include: 

1. Dataframe type [like object (text strings or mixed data), int64 (integer numbers and 64 indicates the memory allocated...as in, 64 bits = 8 bytes), float64 (numbers with decimals or missing values), bool (boolean values like True or False), datetime64[ns] (date and time information and the ns indicates nanosecond precision) etc...]

2.  Index Type [Index = rows...this shows the type of index (eg. RangeIndex, DateTimeIndex etc.)and the number of entries/rows]

3. Column Count [number of columns]

4. Column Details Table [consists of column names, non-null count (number of non-missing values in the column), Dtype (data type of the column)]

5. Dtypes[summary of how many columns belong to respective data types]

6. Memory Usage [Approx amount of how much RAM consumed by the dataframe]

In [44]:
#Summary of the DataFrame
fd.info()
print()
#int64=64-bit=8 bytes

#Print the column names
print(fd.columns)
#Print the index (row names)
print(fd.index)

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, a to g
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     7 non-null      int64
 1   two     7 non-null      int64
 2   three   7 non-null      int64
dtypes: int64(3)
memory usage: 224.0+ bytes

Index(['one', 'two', 'three'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

---
`"shape()"` can be used to check how large the dataframe is. Given below, the first value is the number of rows and the second is the number of columns.

In [13]:
fd.shape

(7, 3)

---
`"describe()"` gives some meaningful information about the data like,
1. Numeric Data:
    - Count = The number of non-null items in each column.

    - Mean ( $\mu$ ) = The mean (sum of all the values/number of rows) of the items in each column.

    - std = Standard Deviation (signifies how spread out the data is from the average and is calculated by:  
        * **Sample Standard Deviation ($s$)** (Used by describe() by default)
        $$s = \sqrt{\frac{\sum (x_i - \text{Mean})^2}{N-1}}$$
        *Used when your data set is only a **subset (a sample)** of a larger group.*
        * **Population Standard Deviation ($\sigma$)**
        $$\sigma = \sqrt{\frac{1}{N} \sum_{i=1}^N (x_i - \mu)^2}$$
        *Used when your data set includes **every member** of the population.*
        
    
    - min = The smallest value

    - max = The largest value

    - 50% = 
        * Also known as the **Second Quartile** or **Median**.
        * The point that is exactly in the **middle** of the whole dataset when sorted from smallest to largest. It splits the data into a lower half (50%) and an upper half (50%).
            * *Example:* For the sorted dataset $\{11, 14, 17\}$, **14** is the median.
        * It is the most robust measure of **central tendency** for data because it is **resistant to outliers** (extreme values).
        * It is the value at the position $\frac{N+1}{2}$.


    - 25% = 
        * Also known as the **First Quartile**.
        * The point where one-quarter (25%) of the data has been counted when sorted from smallest to largest. It separates the bottom 25% from the top 75% of the data.
            * *Example:* For the dataset $\{11, 14, 17\}$, the calculated 25% value is 12.5.
        *  It marks the lower boundary of the central 50% of your data and is used to calculate the Interquartile Range (IQR).
        * It is the value calculated from this formula: $$\text{25\% Value} = \frac{(\text{Median} - \text{Min Value})}{2} + \text{Min Value}$$
        * OR It is the value at the position $\frac{N+1}{4}$
          

    - 75% =
        * Also known as the **Third Quartile**.
        * The point where three-quarters (75%) of the data has been counted when sorted from smallest to largest. It separates the top 25% from the bottom 75% of the data.
            * *Example:* For the dataset $\{11, 14, 17\}$, the calculated 75% value is 15.5.
        *  It marks the upper boundary of the central 50% of your data and is used to calculate the Interquartile Range (IQR) and identifying potential outliers.
        * It is the value calculated from this formula: $$\text{75\% Value} = \frac{(\text{Max Value} - \text{Median})}{2} + \text{Median}$$
        * OR It is the value at the position $\frac{3(N+1)}{4}$

In [5]:
#Here, fd contains numeric data and thus will be used for descriptive statistics
print(fd)
print()

#Descriptive statistics (basically print the summary of the data)
fd.describe()

   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25
f   26   27     28
g   29   30     31

             one        two      three
count   7.000000   7.000000   7.000000
mean   20.000000  21.000000  22.000000
std     6.480741   6.480741   6.480741
min    11.000000  12.000000  13.000000
25%    15.500000  16.500000  17.500000
50%    20.000000  21.000000  22.000000
75%    24.500000  25.500000  26.500000
max    29.000000  30.000000  31.000000

2. Non-Numeric Data:
    - Count = The number of non-null items in each column.

    - Unique = The total number of distinct/different values found in the column.

    - Top = The most frequently occuring value (Mode) in the column. If there's no recurrence, the first value in the column is outputted.

    - Freq = The number of times the "top" value appears in the column.

In [6]:
#Here, df contains non-numeric data and thus will be used for descriptive statistics
print(df)
print()

#Descriptive statistics (basically print the summary of the data)
df.describe()

    0   1   2
0   a   2   c
1   4   e   6
2   g   8   i
3  10   e  12
4   m  14   o
5  16   q  18
6   s  10   u

        0  1  2
count   7  7  7
unique  7  6  7
top     a  e  c
freq    1  2  1

---
Exploring another way to load dataframes (from methods listed above),

In [33]:
#Load data 
data={
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 14, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London'] 
}
sd=pd.DataFrame(data, index=['a','b','c','d'])

print(sd.head())

    Name  Age      City
a   John   28  New York
b   Anna   14     Paris
c  Peter   35    Berlin
d  Linda   32    London

#### Selecting Data

Printing specific rows can be done using 
1. the `**"loc[ ]"**` (Label Based Indexing) function : It selects based on the actual names of the rows and columns.

In [14]:
#Print a specific row by index
print(sd.loc['a'])
print()

#Print a specific list of indexes
print(sd.loc[['b','d']])
print()

#Print a range of indexes (slicing method)
print(sd.loc['a':'c'])
print()

Name        John
Age           28
City    New York
Name: a, dtype: object

    Name  Age    City
b   Anna   14   Paris
d  Linda   32  London

    Name  Age      City
a   John   28  New York
b   Anna   14     Paris
c  Peter   35    Berlin

2. The `**"iloc[ ]"**` (Integer-based Indexing) function: It selects based on positional indexing as in the integer position (starting from 0) of the rows and columns.

In [35]:
#Print a specific row by index
print(sd.iloc[0])
print()

#Print a specific list of indexes
print(sd.iloc[[1,3]])   #iloc[[index for rows],[index for columns]]
print()

#Print a range of indexes (slicing method)
print(sd.iloc[0:3])
print()

Name        John
Age           28
City    New York
Name: a, dtype: object

    Name  Age    City
b   Anna   14   Paris
d  Linda   32  London

    Name  Age      City
a   John   28  New York
b   Anna   14     Paris
c  Peter   35    Berlin

Using this method we can also add new rows to the dataset..
(iloc can't be used here because unlike loc, iloc is STRICTLY ONLY FOR SELECTION AND THUS WILL ONLY TAKE WHAT ALREADY EXISTS AT A INDEX)

In [34]:
sd.loc[len(sd)]=['Mike', 40, 'Chicago']
print(sd)

    Name  Age      City
a   John   28  New York
b   Anna   14     Paris
c  Peter   35    Berlin
d  Linda   32    London
4   Mike   40   Chicago

Alternatively this is a better method,

In [34]:
newrow = pd.DataFrame([['Sara', 25, 'San Francisco']], columns=['Name', 'Age', 'City'])
sd= pd.concat([sd, newrow], ignore_index=True)   
#ignore index to reset the index----as in, the index will be 0 after the last index of the first set
print(sd)

    Name  Age           City
0   John   28       New York
1   Anna   14          Paris
2  Peter   35         Berlin
3  Linda   32         London
4   Mike   40        Chicago
5   Mike   40        Chicago
6   Mike   40        Chicago
7   Sara   25  San Francisco

---
#### Filtering Data
You can filter rows using True/False conditions as seen below:

In [37]:
print(sd.head())
print()

#Simple condition
print(sd[sd['Age'] > 30])
print()

#Multiple conditions using & (and) and | (or)
print(sd[(sd['Age'] > 20) & (sd['City'] == 'London')])

    Name  Age      City
0   John   28  New York
1   Anna   14     Paris
2  Peter   35    Berlin
3  Linda   32    London
4   Mike   40   Chicago

    Name  Age     City
2  Peter   35   Berlin
3  Linda   32   London
4   Mike   40  Chicago
5   Mike   40  Chicago
6   Mike   40  Chicago
8   Mike   40  Chicago

    Name  Age    City
3  Linda   32  London

---
#### Sorting Data
Sorting organizes data rows in ascending/descending order using `sort_values(by=" " , ascending=" ")`.

In [22]:
#Naturally sort by City (alphabetical order)
print(sd.sort_values(by="City"))
print()

# Sort by Age in descending order
print(sd.sort_values(by="Age", ascending=False))

    Name  Age      City
c  Peter   35    Berlin
d  Linda   32    London
a   John   28  New York
b   Anna   14     Paris

    Name  Age      City
c  Peter   35    Berlin
d  Linda   32    London
a   John   28  New York
b   Anna   14     Paris

---
#### Adding and Modifying Columns
Let's create a dataset with just one row to get an idea of this.

In [2]:
af=pd.DataFrame([['John', 28, 'New York']], columns=['Name', 'Age', 'City'], index=['a'])
print(af)

   Name  Age      City
a  John   28  New York

In [3]:
# Creating a new column
af["Country"]= "USA"
af["AgeIn5Years"]= af["Age"] + 5

#Duplicating columns
af["Work_Location"] = af["City"]

print(af)

   Name  Age      City Country  AgeIn5Years Work_Location
a  John   28  New York     USA           33      New York

For rows, you use "loc" method like above in the same way that you add in rows using it...

---
#### Dropping Rows and Columns
This can be done using `drop()`.

Which one you're dropping can be defined by this,
- Axis = 0 → rows
- Axis=1 → columns

Also, drop() will return a new dataframe so if we do not want that and want it to alter/change the dataframe permanently we need to use `inplace=True`.

In [22]:
#Adding one more row to af in order to implement this
df=pd.DataFrame([['Elsa', 22, 'Berlin', 'Germany', 27, 'Berlin'], ['John', 28, 'New York', 'USA', 33, 'New York']], columns=['Name', 'Age', 'City', 'Country', 'AgeIn5Years', 'Work_Location'] )
af=pd.concat([af, df], ignore_index=True)

print(af)

   Name  Age      City  Country  AgeIn5Years Work_Location
0  John   28  New York      USA           33           NaN
1  Elsa   22    Berlin  Germany           27           NaN
2  Elsa   22    Berlin  Germany           27        Berlin
3  John   28  New York      USA           33      New York

In [23]:
#Dropping row
af.drop([2], axis=0, inplace=True) 

#Dropping column
af.drop("Work_Location", axis=1 , inplace=True) 

print(af)

   Name  Age      City  Country  AgeIn5Years
0  John   28  New York      USA           33
1  Elsa   22    Berlin  Germany           27
3  John   28  New York      USA           33

---
#### Checking Values 
Using `isin()` we can check if something is there.
We can use `.any()` with it. It takes a group of True/False values and answers: “Is at least one of these True?” then it accordingly returns True/False just once for each column instead of doing it for everything.

In [ ]:
print(af)

#Comment either one of the below lines to see how they work
af.isin(["John"])
af.isin(["Elsa"]).any()

   Name  Age      City  Country  AgeIn5Years
0  John   28  New York      USA           33
1  Elsa   22    Berlin  Germany           27
3  John   28  New York      USA           33

Name            True
Age            False
City           False
Country        False
AgeIn5Years    False
dtype: bool

---
Let's take another dataframe to work on some more functions :)

In [36]:
data = {
    'Name': ['Mike', 'Sara', 'Tom', 'Lucy', 'Emma'],
    'Age': [40, 25, 32, 19, 28],
    'City': ['Chicago', 'Miami', 'Boston', 'New York', 'Los Angeles'],
    'Membership': ['Gold', 'Silver', 'Gold', 'Bronze', 'Silver'],
    'Active': [True, False, True, True, False]
}

sd = pd.DataFrame(data, index=['a','b','c','d','e'])
print(sd)

   Name  Age         City Membership  Active
a  Mike   40      Chicago       Gold    True
b  Sara   25        Miami     Silver   False
c   Tom   32       Boston       Gold    True
d  Lucy   19     New York     Bronze    True
e  Emma   28  Los Angeles     Silver   False

#### Selecting Data with Conditions
Printing rows based on conditions can be done using boolean indexing:

1. Single column condition
Select rows where a specific column matches a value.

In [37]:
# All rows where Active is True
active_users = sd[sd['Active'] == True]
print(active_users)

   Name  Age      City Membership  Active
a  Mike   40   Chicago       Gold    True
c   Tom   32    Boston       Gold    True
d  Lucy   19  New York     Bronze    True

2. Multiple column conditions
Combine multiple conditions using & (AND) or | (OR).
Always wrap each condition in parentheses.

In [38]:
# Gold members who are Active
gold_active = sd[(sd['Membership'] == 'Gold') & (sd['Active'] == True)]
print(gold_active)

   Name  Age     City Membership  Active
a  Mike   40  Chicago       Gold    True
c   Tom   32   Boston       Gold    True

----
#### Working with the Index
`reset_index( )`
After filtering or dropping rows, indexes may become non-sequential.
reset_index(drop=True, inplace=True) resets the index.

In [39]:
# Reset index after filtering Active users
active_users.reset_index(drop=True, inplace=True)
print(active_users)

   Name  Age      City Membership  Active
0  Mike   40   Chicago       Gold    True
1   Tom   32    Boston       Gold    True
2  Lucy   19  New York     Bronze    True

---
#### Renaming Columns
Using `rename( )` we can change column names to something more descriptive.

In [40]:
sd.rename(columns={
    'Age': 'User_Age',
    'City': 'User_City',
    'Membership': 'Membership_Level',
    'Active': 'IsActive'
}, inplace=True)

print(sd)

   Name  User_Age    User_City Membership_Level  IsActive
a  Mike        40      Chicago             Gold      True
b  Sara        25        Miami           Silver     False
c   Tom        32       Boston             Gold      True
d  Lucy        19     New York           Bronze      True
e  Emma        28  Los Angeles           Silver     False

---

#### Series

Besides dataframes, we also have **"series"** .
A series, by contrast, is a sequence of data values so if a dataframe is a table, a series is a list. 
It can be created with nothing more than a list as seen below,

In [11]:
#Create a Pandas Series
pd.Series(['A', 'B', 'C', 'D', 'E'])

0    A
1    B
2    C
3    D
4    E
dtype: object

As seen, it is practically a **single column** (hence doesn't have a column name) from a typical dataframe sooo you can assign row labels to series the same was as you did for dataframes using **"index"**:

In [12]:
#Create a Pandas Series with custom index and name
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [14]:
#Can also be done in this manner
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
ingredients = pd.Series(quantities, index=items, name='Dinner')

print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

---

Ultimately, you can even save the created Dataframe to a place as a csv file in the following way:

In [ ]:
#Creating DataFrame from dictionary
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
print(animals)

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [16]:
#Saving DataFrame to CSV
animals.to_csv('farm_animals.csv')

---