Testing that python interpreter is working before we start.

In [1]:
print("Hello friend! Welcome to Pandas!")

Hello friend! Welcome to Pandas!

---
* ### How Models Work

Machine learning models are built to **find patterns in data** and use those patterns to make predictions or decisions. When a model is given data to learn from, it goes through a process called **training** (or **fitting**).  
The data used for this purpose is known as **training data**.

Data is stored in a number of forms and formats but one of the most basic of these is the CSV (Comma-separated-values) file format.

#### Example: Decision Tree
A **Decision Tree** predicts outcomes by splitting data into branches based on feature values.  
Each split helps the model make a more precise decision.  
- Trees with **more branches (splits)** can handle more complex patterns — they are called **“deeper trees.”**  
- The **final nodes** in a tree, where a decision or prediction is made, are called **“leaves.”**

---

To start, import the pandas library as pd.

In [2]:
import pandas as pd

* ### Basic Data Exploration

#### Dataframe

It is the main data structure of the python pandas library. A DataFrame holds the type of data you might think of as a table. This is similar to a sheet in Excel, or a table in a SQL database. 

You can create it and put in some dummy data like seen on the second code block in the rough1.ipynb file and you can do lots of work on the data using libraries like Pandas and NumPy (but ofc not limited to them).

There are multiple ways to read data and then store it in a **DataFrame** for usage.  

1. From Files

| Source | Function | Example |
|:--------|:-----------|:---------|
| ***CSV files** | `pd.read_csv()` | `df = pd.read_csv('data.csv')` |
| **Excel files** | `pd.read_excel()` | `df = pd.read_excel('data.xlsx', sheet_name='Sheet1')` |
| **Text files** | `pd.read_table()` | `df = pd.read_table('data.txt', delimiter='\t')` |
| **JSON files** | `pd.read_json()` | `df = pd.read_json('data.json')` |
| **HTML tables** | `pd.read_html()` | `df_list = pd.read_html('https://example.com')` |
| **XML files** | `pd.read_xml()` | `df = pd.read_xml('data.xml')` |
| **Pickle files** | `pd.read_pickle()` | `df = pd.read_pickle('data.pkl')` |
| **Parquet files** | `pd.read_parquet()` | `df = pd.read_parquet('data.parquet')` |
| **Feather files** | `pd.read_feather()` | `df = pd.read_feather('data.feather')` |



2. From Databases

| Source | Function | Example |
|:--------|:-----------|:---------|
| **SQL databases** | `pd.read_sql()` | `df = pd.read_sql('SELECT * FROM table', conn)` |
| **Using SQLAlchemy** | `pd.read_sql_table()` | `df = pd.read_sql_table('table_name', engine)` |
| **SQLite (local DB)** | `sqlite3` + Pandas | `conn = sqlite3.connect('data.db')` <br> `df = pd.read_sql_query("SELECT * FROM users", conn)` |



3. From APIs / Online Sources

| Source | Function | Example |
|:--------|:-----------|:---------|
| **Direct URL (CSV/JSON)** | `pd.read_csv('https://...')` | `df = pd.read_csv('https://example.com/data.csv')` |
| **API response (JSON)** | `pd.DataFrame()` from requests | `import requests; data = requests.get(url).json(); df = pd.DataFrame(data)` |



4. From Created Python Objects

| Source | Function | Example |
|:--------|:-----------|:---------|
| **Dictionary** | `pd.DataFrame()` | `df = pd.DataFrame({'Name': ['John', 'Anna'], 'Age': [28, 24]})` |
| **List of Lists / Tuples** | `pd.DataFrame()` | `df = pd.DataFrame([[1, 2], [3, 4]], columns=['A', 'B'])` |
| **NumPy Array** | `pd.DataFrame()` | `import numpy as np; df = pd.DataFrame(np.random.rand(3, 3), columns=['X', 'Y', 'Z'])` |
| **Another DataFrame** | `pd.DataFrame(existing_df)` | Useful for copies or transformations |

Exploring data-frame terms and such using method 4 (from methods listed above),

In [3]:
#Columns is to alter column names and Index is to alter row names
fd=pd.DataFrame([[11,12,13] , [14,15,16], [17,18,19], [20,21,22], [23,24,25], [26,27,28], [29,30,31]], columns=['one','two','three'] , index=['a','b','c','d','e','f','g'])

#Simple non-numeric DataFrame with dummy data (2-D Array)
df= pd.DataFrame([['a',2,'c'] , [4,'e',6], ['g',8,'i'], [10,'e',12], ['m',14,'o'], [16,'q',18], ['s',10,'u']])

Let's discover the multiple ways we can print the dataframe's data:

In [4]:
print(fd)
print()

#To see the first x rows of the DataFrame
print("This will only output the first 5 rows of the DataFrame:")
print(fd.head())

print()

print("This will only output the first 6 rows of the DataFrame:")
print(df.head(6))

print()

print("This will only output the first 2 rows of the DataFrame:")
print(df.head(2))

   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25
f   26   27     28
g   29   30     31

This will only output the first 5 rows of the DataFrame:
   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25

This will only output the first 6 rows of the DataFrame:
    0   1   2
0   a   2   c
1   4   e   6
2   g   8   i
3  10   e  12
4   m  14   o
5  16   q  18

This will only output the first 2 rows of the DataFrame:
   0  1  2
0  a  2  c
1  4  e  6

---
"info()" is used to print a concise summary of a Dataframe. The information points provided include: 

1. Dataframe type [like object (text strings or mixed data), int64 (integer numbers and 64 indicates the memory allocated...as in, 64 bits = 8 bytes), float64 (numbers with decimals or missing values), bool (boolean values like True or False), datetime64[ns] (date and time information and the ns indicates nanosecond precision) etc...]

2.  Index Type [Index = rows...this shows the type of index (eg. RangeIndex, DateTimeIndex etc.)and the number of entries/rows]

3. Column Count [number of columns]

4. Column Details Table [consists of column names, non-null count (number of non-missing values in the column), Dtype (data type of the column)]

5. Dtypes[summary of how many columns belong to respective data types]

6. Memory Usage [Approx amount of how much RAM consumed by the dataframe]

In [44]:
#Summary of the DataFrame
fd.info()
print()
#int64=64-bit=8 bytes

#Print the column names
print(fd.columns)
#Print the index (row names)
print(fd.index)

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, a to g
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   one     7 non-null      int64
 1   two     7 non-null      int64
 2   three   7 non-null      int64
dtypes: int64(3)
memory usage: 224.0+ bytes

Index(['one', 'two', 'three'], dtype='object')
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

---
"shape()" can be used to check how large the datafram is. Given below, the first value is the number of rows and the second is the number of columns.

In [13]:
fd.shape

(7, 3)

---
"describe()" gives some meaningful information about the data like,
1. Numeric Data:
    - Count = The number of non-null items in each column.

    - Mean ( $\mu$ ) = The mean (sum of all the values/number of rows) of the items in each column.

    - std = Standard Deviation (signifies how spread out the data is from the average and is calculated by:  
        * **Sample Standard Deviation ($s$)** (Used by describe() by default)
        $$s = \sqrt{\frac{\sum (x_i - \text{Mean})^2}{N-1}}$$
        *Used when your data set is only a **subset (a sample)** of a larger group.*
        * **Population Standard Deviation ($\sigma$)**
        $$\sigma = \sqrt{\frac{1}{N} \sum_{i=1}^N (x_i - \mu)^2}$$
        *Used when your data set includes **every member** of the population.*
        
    
    - min = The smallest value

    - max = The largest value

    - 50% = 
        * Also known as the **Second Quartile** or **Median**.
        * The point that is exactly in the **middle** of the whole dataset when sorted from smallest to largest. It splits the data into a lower half (50%) and an upper half (50%).
            * *Example:* For the sorted dataset $\{11, 14, 17\}$, **14** is the median.
        * It is the most robust measure of **central tendency** for data because it is **resistant to outliers** (extreme values).
        * It is the value at the position $\frac{N+1}{2}$.


    - 25% = 
        * Also known as the **First Quartile**.
        * The point where one-quarter (25%) of the data has been counted when sorted from smallest to largest. It separates the bottom 25% from the top 75% of the data.
            * *Example:* For the dataset $\{11, 14, 17\}$, the calculated 25% value is 12.5.
        *  It marks the lower boundary of the central 50% of your data and is used to calculate the Interquartile Range (IQR).
        * It is the value calculated from this formula: $$\text{25\% Value} = \frac{(\text{Median} - \text{Min Value})}{2} + \text{Min Value}$$
        * OR It is the value at the position $\frac{N+1}{4}$
          

    - 75% =
        * Also known as the **Third Quartile**.
        * The point where three-quarters (75%) of the data has been counted when sorted from smallest to largest. It separates the top 25% from the bottom 75% of the data.
            * *Example:* For the dataset $\{11, 14, 17\}$, the calculated 75% value is 15.5.
        *  It marks the upper boundary of the central 50% of your data and is used to calculate the Interquartile Range (IQR) and identifying potential outliers.
        * It is the value calculated from this formula: $$\text{75\% Value} = \frac{(\text{Max Value} - \text{Median})}{2} + \text{Median}$$
        * OR It is the value at the position $\frac{3(N+1)}{4}$

In [5]:
#Here, fd contains numeric data and thus will be used for descriptive statistics
print(fd)
print()

#Descriptive statistics (basically print the summary of the data)
fd.describe()

   one  two  three
a   11   12     13
b   14   15     16
c   17   18     19
d   20   21     22
e   23   24     25
f   26   27     28
g   29   30     31

             one        two      three
count   7.000000   7.000000   7.000000
mean   20.000000  21.000000  22.000000
std     6.480741   6.480741   6.480741
min    11.000000  12.000000  13.000000
25%    15.500000  16.500000  17.500000
50%    20.000000  21.000000  22.000000
75%    24.500000  25.500000  26.500000
max    29.000000  30.000000  31.000000

2. Non-Numeric Data:
    - Count = The number of non-null items in each column.

    - Unique = The total number of distinct/different values found in the column.

    - Top = The most frequently occuring value (Mode) in the column. If there's no recurrence, the first value in the column is outputted.

    - Freq = The number of times the "top" value appears in the column.

In [6]:
#Here, df contains non-numeric data and thus will be used for descriptive statistics
print(df)
print()

#Descriptive statistics (basically print the summary of the data)
df.describe()

    0   1   2
0   a   2   c
1   4   e   6
2   g   8   i
3  10   e  12
4   m  14   o
5  16   q  18
6   s  10   u

        0  1  2
count   7  7  7
unique  7  6  7
top     a  e  c
freq    1  2  1

---
Exploring another way to load dataframes (from methods listed above),

In [17]:
#Load data 
data={
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London'] 
}
sd=pd.DataFrame(data, index=['a','b','c','d'])

print(sd.head())

    Name  Age      City
a   John   28  New York
b   Anna   24     Paris
c  Peter   35    Berlin
d  Linda   32    London

Printing specific rows can be done using 
1. the **"loc[ ]"** (Label Based Indexing) function : It selects based on the actual names of the rows and columns.

In [22]:
#Print a specific row by index
print(sd.loc['a'])
print()

#Print a specific list of indexes
print(sd.loc[['b','d']])
print()

#Print a range of indexes (slicing method)
print(sd.loc['a':'c'])
print()

Name        John
Age           28
City    New York
Name: a, dtype: object

    Name  Age    City
b   Anna   24   Paris
d  Linda   32  London

    Name  Age      City
a   John   28  New York
b   Anna   24     Paris
c  Peter   35    Berlin

2. The **"iloc[ ]"** (Integer-based Indexing) function: It selects based on positional indexing as in the integer position (starting from 0) of the rows and columns.

In [27]:
#Print a specific row by index
print(sd.iloc[0])
print()

#Print a specific list of indexes
print(sd.iloc[[1,3]])
print()

#Print a range of indexes (slicing method)
print(sd.iloc[0:3])
print()

Name        John
Age           28
City    New York
Name: a, dtype: object

    Name  Age    City
b   Anna   24   Paris
d  Linda   32  London

    Name  Age      City
a   John   28  New York
b   Anna   24     Paris
c  Peter   35    Berlin

---

#### Series

Besides dataframes, we also have **"series"** .
A series, by contrast, is a sequence of data values so if a dataframe is a table, a series is a list. 
It can be created with nothing more than a list as seen below,

In [11]:
#Create a Pandas Series
pd.Series(['A', 'B', 'C', 'D', 'E'])

0    A
1    B
2    C
3    D
4    E
dtype: object

As seen, it is practically a **single column** (hence doesn't have a column name) from a typical dataframe sooo you can assign row labels to series the same was as you did for dataframes using **"index"**:

In [12]:
#Create a Pandas Series with custom index and name
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [14]:
#Can also be done in this manner
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
ingredients = pd.Series(quantities, index=items, name='Dinner')

print(ingredients)

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

---

Ultimately, you can even save the created Dataframe to a place as a csv file in the following way:

In [ ]:
#Creating DataFrame from dictionary
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
print(animals)

        Cows  Goats
Year 1    12     22
Year 2    20     19

In [16]:
#Saving DataFrame to CSV
animals.to_csv('farm_animals.csv')

---